.vscode/settings.json
debug.log
install.bat
ts/@types
tmp

public/katex
public/lib/plane/plane.d.ts
public/lib/plane/plane.js
public/lib/i18n
public/lib/layout
public/lib/parser
public/lib/algebra
vite.config.d.ts
vite.config.d.ts.map
vite.config.js
public/lib/tsconfig.tsbuildinfo
dist
tsconfig.tsbuildinfo
lib
