.firebase
node_modules
tmp
*.log
*.d.ts
public/lib/firebase/firebase.js
install.bat
public/katex
public/lib/movie
public/lib/plane
public/lib/parser
public/lib/i18n
public/lib/layout
public/lib/lesson
public/lib/media
public/lib/algebra
public/lib/webgpu
public/lib/diagram
public/lib/game
public/movie.html
public/i18n.html
public/index.html
public/algebra.html
firestore.rules
public/lesson.html
public/webgpu.html
public/diagram.html
public/lib/tsconfig.tsbuildinfo
dist
tsconfig.tsbuildinfo
lib
